<p>Hola,</p>
<p>Alguien ha solicitado restablecer la contraseña de su cuenta en MindMetrics (Santiago de Cali).</p>
<p>Si fuiste tú, puedes cambiar tu credencial haciendo clic en el siguiente enlace seguro:</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        👉 Haz clic aquí para cambiar tu contraseña
    </a>
</p>

<p>Este enlace es de un solo uso y expirará automáticamente por razones de seguridad.</p>
<p>Si no solicitaste este cambio, puedes ignorar este mensaje de forma segura.</p>
<hr>
<p>Soporte Técnico MindMetrics</p>